<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.univdhaka.cse.cse2216.myshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_with_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_with_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".History.CartDetailsActivity"
            android:parentActivityName=".History.HistoryActivity"
            android:label="DETAILS"
            android:theme="@style/Theme.MyShop"/>

        <activity
            android:name=".History.HistoryActivity"
            android:label="HISTORY"
            android:parentActivityName=".Home.HomeActivity"
            android:theme="@style/Theme.MyShop"
            />

        <activity
            android:name=".ProductScreen.AddProductActivity"
            android:parentActivityName=".ProductScreen.ProductActivity"
            android:label="ADD NEW"
            android:theme="@style/Theme.MyShop"
            />

        <activity
            android:name=".ProductScreen.ProductActivity"
            android:parentActivityName=".Home.HomeActivity"
            android:label="PRODUCTS"
            android:theme="@style/Theme.MyShop"/>

        <activity android:name=".AddSale.AddSale"
            android:parentActivityName=".Home.HomeActivity"
            android:label="@string/add_sale"/>

        <activity

            android:name=".Home.HomeActivity"
            android:label="HOME"/>

        <activity
            android:name=".Authentication.SignUp"
            android:label="@string/sign_up"
            android:parentActivityName=".Authentication.Login"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Authentication.Login"
            android:label="@string/login"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>